<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="push" class="nav-bar">
    <p>
      <a routerLink="/register" (click)="sidenav.toggle()">
        <mat-icon>person_add</mat-icon>
      </a>
    </p>
    <p>
      <a routerLink="/visualization" (click)="sidenav.toggle()">
        <mat-icon>folder_open</mat-icon>
      </a>
    </p>
  </mat-sidenav>

  <mat-sidenav-content class="nav-content">
    <mat-toolbar>

      <p>
        <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      </p>

      <h1 class="nav-content">
        Teste Material Design
      </h1>
    </mat-toolbar>

    <router-outlet>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>