<mat-progress-bar mode="determinate" [value]="percentage"></mat-progress-bar>


<form [formGroup]="formulario" (ngSubmit)="enviar()" class="field-full-width">
  <mat-icon class="icon-info" [matBadge]="pendentFields" matBadgePosition="before" matBadgeColor="accent"
    *ngIf="pendentFields > 0">info</mat-icon>
  <mat-horizontal-stepper linear class="field-full-width">
    <mat-step class="field-full-width">
      <mat-form-field class="form-steps">
        <input matInput type="text" id="name" formControlName="name" value="" required>
        <mat-placeholder class="placeholder">Nome</mat-placeholder>

        <div *ngIf="formulario.controls.name.invalid">REQUERIDO</div>
      </mat-form-field>

      
      <br>

      <mat-form-field class="form-steps">
        <input matInput type="email" formControlName="email" value="" required>
        <mat-placeholder class="placeholder">E-mail</mat-placeholder>
      </mat-form-field>

      <br>

      <mat-form-field class="form-steps">
        <input matInput type="number" formControlName="age" value="" required>
        <mat-placeholder class="placeholder">Idade</mat-placeholder>
      </mat-form-field>

      <div>
        <button mat-raised-button matStepperNext type="button" (click)="percentage = 30; pendentFields = 0" color="primary" class="btn" [disabled]="!formulario.valid">Próximo</button>
      </div>

    </mat-step>
    <mat-step class="form-steps">

      <div>
        <button mat-raised-button matStepperPrevious type="button" (click)="percentage = 0" color="primary" class="btn">Anterior</button>
        <button mat-raised-button matStepperNext type="button" (click)="percentage = 60" color="primary" class="btn">Próximo</button>

      </div>
    </mat-step>
    <mat-step class="form-steps">
      <mat-icon class="icon-finalizado">done_all</mat-icon> 
      <br>
      <button mat-raised-button matStepperPrevious type="button" color="primary" (click)="percentage = 30" class="btn">Anterior</button>
      <button mat-raised-button type="submit" color="warn" class="btn" [disabled]="!formulario.valid">Enviar</button>
    </mat-step>

  </mat-horizontal-stepper>

</form>